body {
    background-color: black;
}
p{
    color: lightblue;
    text-align:center;
    font-size:1.5em;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
h1{
    color:violet;
    text-align:center;
    font-size:2em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul, li{
    color:white;
    text-align:center;
    font-size:1.25em;
}
img{
    text-align: center;
}
.container{
    text-align:center;
}
.link{
    text-align: center;
    font-size: 3em;
    color:blueviolet;
}